.contact {
  position: relative;

  width: 100%;
  min-height: 100vh;
  padding: 2.4rem;
  background-color: #bebebe;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form {
  width: 100%;
  z-index: 100;
  max-width: 820px;
  background-color: #fafafa;
  border-radius: 0.8rem;
  box-shadow: 0.1rem 0.2rem 0.085rem rgba(0, 0, 0, 0.65);
  /* z-index: 1000; */
  overflow: hidden;
  display: grid;
  grid-template-columns: 0.75fr 1.25fr;
}

.contact-info {
  background-color: #fafafa;
}
.contact-form {
  background-image: linear-gradient(
    to right,
    var(--primary) 50%,
    var(--primary-dark) 100%
  );
  position: relative;
}

.contact-form::before {
  content: "";
  position: absolute;
  width: 26px;
  height: 26px;
  background-color: #71c562;
  transform: rotate(45deg);
  top: 95px;
  left: -13px;
}

form {
  padding: 2.7rem 2.5rem;
  z-index: 10;
  overflow: hidden;
  position: relative;
}
.circle {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: absolute;
  background: linear-gradient(120deg, transparent 25%, #8dd181);
}

.circle.one {
  width: 130px;
  height: 130px;
  top: 130px;
  right: -40px;
}
.circle.two {
  width: 80px;
  height: 80px;
  top: 20px;
  right: 45px;
}

.title {
  color: #fafafa;
  font-weight: 700;
  font-size: 1.6rem;
  letter-spacing: 0.25rem;
  line-height: 1;
  margin-bottom: 2.4rem;
}

.input-container {
  position: relative;
  margin: 1.2rem 0;
}

.main-form-input {
  width: 85%;
  outline: none;
  border: 3px solid #fafafa;
  background: none;
  padding: 0.8rem 1.2rem;
  color: #fafafa;
  font-family: inherit;
  outline: none;
  font-weight: 600;
  font-size: 1.25rem;
  letter-spacing: 0.5px;
  border-radius: 1rem;
  transition: all 0.2s ease-in;
}
.input:hover {
  border-color: #bebebe;
}

.input:focus ~ label,
.input:not(:placeholder-shown).input:not(:focus) ~ label {
  top: -0.15rem;
  font-size: 1rem;
}
textarea.input {
  padding: 0.8rem 1.2rem;
  min-height: 180px;
  border-radius: 1rem;
  resize: none;
  overflow-y: auto;
  width: 85%;
  outline: none;
  border: 3px solid #fafafa;
  background: none;
  color: #fafafa;
  font-weight: 600;
  font-size: 1.25rem;
  letter-spacing: 0.5px;
  border-radius: 1rem;
  transition: all 0.2s ease-in;
}

.main-label {
  position: absolute;
  top: 50%;
  left: 20px;
  transform: translateY(-50%);
  padding: 0 0.6rem;
  color: #fafafa;
  font-size: 1.2rem;
  font-weight: 400;
  opacity: 0.9;
  cursor: text;
  transition: all 0.2s ease-in;
  background-color: #71c562;
}

.input-container.textarea label {
  top: 1rem;
  transform: translateY(0);
}

.main-form-btn {
  padding: 0.6rem 1.4rem;
  background-color: #557d4d;
  color: #fafafa;
  outline: none;
  border: none;
  text-transform: uppercase;
  letter-spacing: 0.15rem;
  width: 65%;
  transition: all 0.2s ease-in;
}

.main-form-btn:hover,
.main-form-btn:active {
  background-color: #8dd181;
  color: #fafafa;
  letter-spacing: 0.165rem;
  transform: translateY(1px);
}

.icon-contact {
  margin-right: 1rem;
  font-size: 1.8rem;
  transform: translateY(-10px);
  color: #71c562;
  opacity: 0.65;
}

.contact-info {
  padding: 2.3rem 2.2rem;
}
.contact-info .title {
  color: #71c562;
}

.text {
  color: #172714;
  margin: 1.5rem 0 2rem 0;
}

.information {
  display: flex;
  color: #555;
  margin: 0.7rem 0;
  align-items: center;
  font-size: 0.95rem;
}

.social-media {
  padding: 2rem 0 0 0;
}

.social-media p {
  color: #172714;
}

.social-icons {
  display: flex;
  margin-top: 3.2rem;
  justify-content: space-around;
  height: 3.2rem;
}
.social-icon {
  height: 2.4rem;
  width: 2.4rem;
}

.social-icon__link {
  display: inline-block;
  height: 2.4rem;
  width: 2.4rem;
}

.social-icon-slack {
  height: 2.4rem;
  width: 2.4rem;
  background-image: url(./img/slack_icon.png);
  background-size: cover;
  margin: 0 1.2rem;
}
.social-icon-github {
  height: 2.4rem;
  width: 2.4rem;
  background-image: url(./img/github_icon.png);
  background-size: cover;
}
.social-icon-linkedin {
  height: 2.4rem;
  width: 2.4rem;
  background-image: url(./img/linkedin_icon.png);
  background-size: cover;
}

.social-icons a:hover {
  transform: scale(1.05);
}

.contact-info::before {
  content: "";
  position: absolute;
  width: 110px;
  height: 100px;
  border: 22px solid #71c562;
  border-radius: 50%;
  bottom: 12px;
  left: 38%;
  opacity: 0.4;
  z-index: -1;
}

.big-circle {
  position: absolute;
  z-index: 0;
  width: 500px;
  height: 500px;
  border-radius: 50%;
  background: linear-gradient(to bottom, #71c562, #2d4f27);
  bottom: 50%;
  right: 50%;
  transform: translate(-43%, 23%);
}

.big-circle::after {
  content: "";
  position: absolute;
  width: 360px;
  height: 360px;
  background-color: #bebebe;
  border-radius: 50%;
  top: calc(50% - 180px);
  left: calc(50% - 180px);
}

@media (max-width: 850px) {
  .form {
    grid-template-columns: 1fr;
  }

  .contact-info::before {
    bottom: initial;
    top: -75px;
    right: 65px;
  }
}
