.home {
  position: relative;
}
.home__container {
  height: 100vh;
}

.video__bg {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.video__bg::after {
  content: "";
  height: 100%;
  width: 100%;
  background-image: linear-gradient(
    180deg,
    rgba(15, 15, 15, 0.9) 35%,
    rgba(15, 15, 15, 0.85) 65%,
    rgba(15, 15, 15, 0.8) 85%
  );
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}

.video__bg > video {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.navigation {
  position: relative;
  width: 65%;
  margin: 0 auto;
}

.navigation__navbar {
  margin-top: 1rem;
  transition: all 0.6s ease-out;
}

.logo,
.main--cta__container {
  align-self: center;
  justify-self: center;
}
.main--cta__container a:link,
.main--cta__container a:visited {
  text-decoration: none;
  text-align: center;
  font-size: 2.4rem;
  color: rgba(113, 197, 98, 0.55);
  display: block;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(113, 197, 98, 0.05);
  height: 4.6rem;
  width: 4.6rem;
  border-radius: 50%;
  transition: all 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.main--cta__container a:hover {
  transform: scale(1.09);
  color: rgba(113, 197, 98, 0.95);
  background-color: rgba(113, 197, 98, 0.25);
}

.main--cta__container a:active {
  color: rgba(73, 157, 58, 0.95);
  background-color: rgba(133, 217, 118, 0.55);
}

.logo__main {
  height: 3.6rem;
  display: block;
  transform: rotate(180deg);
}
.shape-fill {
  fill: #fafafa;
}
.navigation__navbar a:link,
.navigation__navbar a:visited {
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  color: #f0f0f0;
  margin: 0.25rem 0.15rem;
  padding-bottom: 0.4rem;
  letter-spacing: 0.3rem;
  border-bottom: 2.5px solid transparent;
  transition: all 0.15s ease-in;
}
.navigation__navbar a.main-cta-btn:link,
.navigation__navbar a.main-cta-btn:visited {
  color: #333;
  transform: translateY(-0.4rem);
  background-color: rgba(113, 197, 98, 0.5);
  box-shadow: 0.4rem 0.2rem 0.4rem rgb(0 0 0 / 40%);
  padding: 1rem 4.2rem;
  border-radius: 0.7rem;
  text-transform: uppercase;
  font-family: inherit;
  font-weight: 700;
  letter-spacing: 0.24rem;
  border: none;
  transition: all 0.2s cubic-bezier(0.75, 0.82, 0.165, 1);
}

.navigation__navbar a.main-cta-btn:active,
.navigation__navbar a.main-cta-btn:hover {
  background-color: rgba(113, 197, 98, 1);
  box-shadow: 0.1rem 0.1rem 0.1rem rgb(0 0 0 / 40%);
  color: #f0f0f0;
}

.navigation__navbar a:hover,
.navigation__navbar a:active {
  color: var(--primary);
  font-weight: 700;
  border-bottom: 2.5px solid var(--primary);
  letter-spacing: 0.35rem;
  transform: scale(1.05);
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.home__content {
  padding: 2.4rem 0;
  text-align: center;
}
.home__text {
  color: #fafafa;
  letter-spacing: 0.25rem;
  line-height: 1.4;
}
h1.home__text {
  font-size: 2.4rem;
  font-weight: 700;
  letter-spacing: 0.65rem;
  color: rgba(113, 197, 98, 0.75);
}
h2.home__text {
  font-size: 2.2rem;
  font-weight: 800;
  margin: 1.8rem auto;
  font-family: "Montserrat", sans-serif;
}
h3.home__text {
  font-size: 2.2rem;
  text-transform: uppercase;
  font-weight: 800;
  margin: auto;
  font-family: "Montserrat", sans-serif;
  line-height: 40px;
  color: rgba(113, 197, 98, 0.75);
}
h4.home__text {
  font-size: 1.8rem;
  font-weight: 00;
  line-height: 40px;
  font-family: "Montserrat", sans-serif;
}

.navigation__navbar {
  list-style: none;
  /* padding: 0.4rem 2.4rem; */
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.header {
  padding: 0.6rem 3.2rem;
  display: grid;
  grid-template-columns: 0.3fr 2.4fr 0.3fr;
  justify-content: center;
  align-items: center;
}
.header.active {
  position: fixed;
  z-index: 1000;
  width: 100%;
  padding: 0.6rem 3.2rem;
  background-color: rgba(19, 19, 19, 0.85);
}

/* Social links*/

.social {
  display: flex;
  padding-left: 0;
  margin: 2.4rem 0;
  gap: 18rem;
}

.social li {
  position: relative;
  width: 3.6rem;
  height: 3.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.social li a {
  position: relative;
  text-decoration: none;
  color: #fafafa;
  z-index: 10;
  font-size: 2rem;
  transition: all 0.3s ease-in;
}

.social li:hover {
  z-index: 1000;
  transform: scale(0.75);
}
.social li::before {
  content: "";
  position: absolute;
  inset: 30px;
  box-shadow: 0 0 0 0.8rem #fafafa, 0 0 0 1.7rem #191919, 0 0 0 2rem #fafafa;
  transition: all 0.25s ease-in;
}

.social li:hover::before {
  inset: 0px;
}

.social li::after {
  content: "";
  position: absolute;
  inset: 0;
  background: rgb(25, 25, 25);
  transform: rotate(45deg);
}
.social li:hover a {
  font-size: 3rem;
  filter: drop-shadow(0 0 1.8rem #fafafa) drop-shadow(0 0 2.4rem #fafafa)
    drop-shadow(0 0 3.6rem #fafafa);
}
/* Mobile nav */

.nav--mobile__checkbox {
  display: none;
}
.nav--mobile__button {
  background-color: rgba(113, 197, 98, 0.75);
  height: 3.5rem;
  width: 3.5rem;
  position: fixed;

  top: 1rem;
  outline: 4px solid #fafafa;
  right: 4.5rem;
  border-radius: 50%;
  z-index: 2000;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
  text-align: center;
  cursor: pointer;
}

.nav--mobile__background {
  height: 3.5rem;
  width: 3.5rem;
  border-radius: 50%;
  position: fixed;
  top: 1rem;
  right: 4.5rem;
  background-image: linear-gradient(
    180deg,
    rgba(113, 197, 98, 1) 45%,
    rgba(113, 197, 98, 0.95) 65%,
    rgba(113, 197, 98, 0.9) 85%,
    rgba(113, 197, 98, 0.85) 100%
  );
  z-index: 1000;
  transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
}

.nav--mobile__nav {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1500;

  opacity: 0;
  width: 0;
  transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.nav--mobile__list {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style: none;
  text-align: center;
  width: 80%;
  height: 80%;
}

.nav--mobile__item {
  margin: 1.2rem;
}
.nav--mobile__link:link,
.nav--mobile__link:visited {
  display: none;
  font-size: 1rem;
  letter-spacing: 0.6rem;
  font-weight: 600;
  padding: 1rem 3.8rem;
  color: #fafafa;
  text-decoration: none;
  text-transform: uppercase;
  background-image: linear-gradient(
    120deg,
    transparent 0%,
    transparent 50%,
    #fff 50%
  );
  background-size: 230%;
  transition: all 0.4s;
}
.nav--mobile__link:hover,
.nav--mobile__link:active {
  background-position: 100%;
  color: var(--primary);
  transform: translateX(1rem);
}
span {
  margin-right: 0.8rem;
  display: inline-block;
}
.nav--mobile__link:hover span,
.nav--mobile__link:active span {
  color: var(--primary);
}

.nav--mobile__checkbox:checked ~ .nav--mobile__background {
  transform: scale(80);
}

.nav--mobile__checkbox:checked ~ .nav--mobile__nav {
  opacity: 1;
  width: 100%;
}

.nav--mobile__link:visited,
.nav--mobile__link:link {
  display: inline-block;
}

.nav--mobile__icon {
  position: relative;
  margin-top: 3.5rem;
}

.nav--mobile__icon,
.nav--mobile__icon::before,
.nav--mobile__icon::after {
  position: relative;
  top: -1.75rem;
  right: -0.4rem;
  width: 2rem;
  height: 2px;
  background-color: #fafafa;
  display: inline-block;
}

.nav--mobile__icon::before,
.nav--mobile__icon::after {
  content: "";
  position: absolute;
  left: 0;
  transition: all 0.2s;
}
.nav--mobile__icon::before {
  top: -0.8rem;
}
.nav--mobile__icon::after {
  top: 0.8rem;
}

.nav--mobile__button:hover .nav--mobile__icon::before {
  top: -1rem;
}
.nav--mobile__button:hover .nav--mobile__icon::after {
  top: 1rem;
}

.nav--mobile__checkbox:checked + .nav--mobile__button .nav--mobile__icon {
  background-color: transparent;
}

.nav--mobile__checkbox:checked
  + .nav--mobile__button
  .nav--mobile__icon::before {
  top: 0;
  transform: rotate(135deg);
}
.nav--mobile__checkbox:checked
  + .nav--mobile__button
  .nav--mobile__icon::after {
  top: 0;
  transform: rotate(-135deg);
}

/* SVG WAVE */

.wave {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
  transition: all 0.3s ease-in;
}

.wave svg {
  position: relative;
  display: block;
  width: calc(115% + 1.5px);
  height: 6.7rem;
  transform: rotateY(180deg);
  transition: all 0.2 ease-in;
}

.wave .shape-fill {
  fill: rgba(227, 227, 227, 255);
}

/* RESPONSIVE */
@media only screen and (min-width: 1050px) {
  .nav--mobile {
    display: none;
  }
}
@media only screen and (max-width: 1050px) {
  .main--cta__container {
    display: none;
  }
  .nav--mobile__link:link,
  .nav--mobile__link:visited {
    font-size: 1rem;
    letter-spacing: 0.65rem;
    font-weight: 700;
    width: 65%;
    margin: 0.55rem auto;
  }
  .navigation__navbar {
    display: none;
  }
  .header.active {
    background-color: transparent;
  }
  .logo__main {
    height: 2.2rem;
    /* margin-top: 0; */
    position: relative;
    top: 1rem;
  }
}

@media only screen and (max-width: 768px) {
  .home__content {
    width: 75%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    transform: translateY(2.2rem);
    padding: 0 1.3rem;
  }
  .header {
    justify-content: space-between;
    align-items: center;
  }
  .home__text {
    text-transform: uppercase;
  }
  h1.home__text {
    font-size: 1.3rem;
  }
  h2.home__text,
  h3.home__text,
  h4.home__text {
    font-size: 1.5rem;
  }

  .home__text:not(:last-child) {
    margin: 1.4rem 0;
  }

  /* Navigation */

  .nav--mobile__link:link,
  .nav--mobile__link:visited {
    font-size: 0.8rem;
    letter-spacing: 0.65rem;
    font-weight: 700;
    width: 75%;
    margin: 0.45rem auto;
  }
}

@media only screen and (max-width: 590px) {
  .nav--mobile__link:link,
  .nav--mobile__link:visited {
    font-size: 0.7rem;
  }
  span {
    font-size: 0.7rem;
  }

  .nav--mobile__link:link,
  .nav--mobile__link:visited {
    font-size: 0.6rem;
    letter-spacing: 0.45rem;
    font-weight: 700;
    width: 95%;
    margin: 0.45rem auto;
  }
}

@media screen and (max-width: 468px) {
  .nav--mobile__link:link,
  .nav--mobile__link:visited {
    font-size: 0.55rem;
    letter-spacing: 0.35rem;
    font-weight: 600;
    width: 110%;
    transform: translateX(-10%);

    margin: 0.35rem auto;
  }
}
