.project {
  padding: 4.8rem 0;
  background-color: #191919;
}

.project__heading {
  text-align: center;
  margin-bottom: 0.8rem;
  background-image: linear-gradient(
    to right,
    var(--primary),
    var(--primary-dark)
  );
  color: #f7f7f7;
  text-transform: uppercase;
  letter-spacing: 0.54rem;
  margin: 0.2rem 12.8rem 1.6rem 12.8rem;
  padding: 0.8rem;
  border-radius: 8px;
  box-shadow: 0.3rem 0.2rem 0.3rem rgb(0 0 0 / 40%);
  font-weight: 700;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 1.2rem;
  transition: all 0.3s ease;
}
.project__heading--secondary {
  margin: 0 6.4rem 5.8rem 6.4rem;
  color: #f0f0f0;
  font-size: 1.2rem;
  letter-spacing: 0.25rem;
  text-transform: uppercase;
  text-align: center;
  line-height: 2.3rem;
}

.project__flex__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  gap: 2.6rem;
}

img.project__img {
  border-radius: 1rem;
  width: 100%;
  object-fit: cover;
  transition: all 0.4s ease-in;
  opacity: 0.8;
  position: relative;
}
img.project__img::after {
  content: "";
  width: 100%;
  height: 100%;
  background-color: #000;
  z-index: 9999;
  opacity: 1;
}
.mask__effect {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--primary-light);
  border-radius: 1rem;
  transition: all 0.4s ease-in;
  opacity: 0.2;
  display: none;
}
.project__box {
  position: relative;
  transition: all 0.3s ease-in-out;
}
.project__box__img {
  position: relative;
}
.project__box:hover .mask__effect {
  display: inline;
  transform: scale(1.1);
}
.project__box:hover img.project__img {
  transform: scale(1.1);
}

.project__box:hover h5.project__text,
.project__box:hover h4.project__text {
  background-color: rgba(141, 209, 129, 1);
  box-shadow: 0.15rem 0.15rem 0.15rem rgb(0 0 0 / 20%);
}
.project__meta {
  position: absolute;
  top: 0%;
  left: 0%;
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  flex-wrap: wrap;
  border-radius: 1rem;
  width: 100%;
}
h5.project__text {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 1rem;
  color: #fafafa;
  text-align: center;
  width: 65%;
  padding: 1.2rem 0.6rem;
  letter-spacing: 0.35rem;
  background-color: rgba(141, 209, 129, 0.55);
  border-radius: 1.8rem;
  box-shadow: 0.15rem 0.25rem 0.3rem rgb(0 0 0 / 20%);
  transition: all 0.25s ease-in-out;
}
h4.project__text {
  font-weight: 800;
  font-size: 1.6rem;
  text-align: center;
  line-height: 1.8;
  text-transform: uppercase;
  width: 60%;
  background-color: rgba(141, 209, 129, 0.65);
  box-shadow: 0.15rem 0.25rem 0.3rem rgb(0 0 0 / 20%);
  padding: 0.8rem 1.6rem;
  border-radius: 1.8rem;

  color: #fafafa;
}
a.project__btn {
  padding: 1.2rem 3.6rem;
  border: 2px solid var(--primary-white);
  border-radius: 0.6rem;
  transition: all 0.4s ease-in;
  text-decoration: none;
  color: var(--primary-white);
  background-color: rgba(113, 197, 98, 0.2);
  box-shadow: 0.3rem 0.1rem 0.3rem rgba(0, 0, 0, 0.6);
  text-transform: uppercase;
  font-family: inherit;
  font-size: 1rem;
  letter-spacing: 0.25rem;
}
a.project__btn:hover {
  background-color: rgba(113, 197, 98, 0.8);
  border: 2px solid rgba(113, 197, 98, 0.8);
}
button.btn {
  background-color: rgba(113, 197, 98, 0.5);
  box-shadow: 0.4rem 0.2rem 0.4rem rgb(0 0 0 / 40%);
  margin: 4.8rem 0 0 0;
  padding: 1rem 4.2rem;
  border-radius: 0.7rem;
  text-transform: uppercase;
  font-family: inherit;
  font-weight: 700;
  letter-spacing: 0.24rem;
  border: none;
  transition: all 0.2s cubic-bezier(0.75, 0.82, 0.165, 1);
}
button.view__more:hover {
  background-color: rgba(113, 197, 98, 1);
  box-shadow: 0.1rem 0.1rem 0.1rem rgb(0 0 0 / 40%);
  color: #f0f0f0;
}
/* RESPONSIVE */
@media only screen and (max-width: 1200px) {
  .project__flex__container {
    grid-template-columns: 1fr;
  }
  .project__flex__item {
    height: 100%;
    width: 40%;
    margin: 0 auto;
  }
  .project__heading {
    font-size: 0.8rem;
  }

  .project__heading--secondary {
    font-size: 0.8rem;
    width: 55%;
    margin: 1rem auto;
  }
  a.project__btn {
    font-size: 0.8rem;
    padding: 1rem 2.8rem;
  }
}

@media only screen and (max-width: 770px) {
  .project__flex__item {
    width: 60%;
  }
}
@media only screen and (max-width: 550px) {
  .project__heading {
    width: 12.8rem;
    margin: 0 auto;
    line-height: 1.6;
  }

  .project__heading--secondary {
    width: 12rem;
    margin: 1.8rem auto;
    font-size: 0.6rem;
    font-weight: 700;
  }
}

@media only screen and (max-width: 480px) {
  a.project__btn {
    padding: 0.4rem 0.8rem;
    border-radius: 0.6rem;
    font-size: 0.6rem;
    box-shadow: 0.15rem 0.1rem 0.15rem rgba(0, 0, 0, 0.6);
    text-transform: uppercase;
    font-family: inherit;
    letter-spacing: 0.25rem;
  }

  h4.project__text {
    font-size: 0.8rem;
    line-height: 1.8;
    box-shadow: 0.15rem 0.1rem 0.15rem rgb(0 0 0 / 35%);
    padding: 0.2rem 0.4rem;
    border-radius: 1.8rem;

    color: #fafafa;
  }
  h5.project__text {
    font-size: 0.6rem;
    line-height: 1.8;
    box-shadow: 0.15rem 0.1rem 0.15rem rgb(0 0 0 / 35%);
    width: 80%;
    padding: 0.2rem 0.6rem;
    border-radius: 1.8rem;

    color: #fafafa;
  }
}
